<div class="jumbotron sticky-top text-center">
    <h1 class="display-3 font-weight-bold">Task Manager</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="incomplete">
                <h3 class="text-center mb-4">Tasks to Complete </h3>
                <hr>
            </div>

            {{#each todosIncomplete}}
            <div class="row mb-3">
                <div class="col-9">
                    <p class="d-inline">{{this.id}} .</p>
                    <span>&nbsp;</span>
                    <p class="d-inline" name="task">{{this.task}}</p>
                </div>
                <div class="col-3">
                    <form id="{{this.id}}" class="doneTodo">
                        <button data-todoid="{{this.id}}" type="submit" class="rounded bg-light"><i
                                class="far fa-check-circle"></i></i><span>&nbsp;</span> Done!</button>
                    </form>
                </div>
            </div>
            {{/each}}

        </div>

        <div class="col-6">
            <div class="complete">
                <h3 class="text-center mb-4">Completed Tasks</h3>
                <hr>
            </div>

            {{#each todosComplete}}
            <div class="row mb-4">
                <div class="col-12">
                    <p class="d-inline">{{id}}</p>
                    <span>&nbsp;</span>
                    <p class="d-inline">{{task}}</p>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

    <footer class="footer">
        <div class="col-12">
            <form id="createTodo" class="mx-auto">
                <hr>
                <div class="form-group mx-auto pt-4">
                    {{!-- <label class="text-center mb-0">Enter a task that needs to be completed</label> --}}
                    <input type="text" class="form-control form-control-lg border rounded" name="todo"
                        placeholder="Enter a task that needs to be completed"></input>
                </div>
                <div class="form-group mx-auto text-center">

                    <button type="submit" id="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </footer>

</div>

<script type="text/javascript" src="assets/js/script.js"></script>